<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mastodon Digest</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="icon.png">
  </head>
  <body>
    <div id="container">
      <div class="header">
	<h1>Mastodon Digest</h1>
	<span id="render-description">Rendered <span id="rendered-value">{{ rendered_at }}</span> from my timeline over the past <span id="hours-value">{{ hours }}</span> hours</span><br />
	<span id="scorer">Scorer: <span id="scorer-value">{{ scorer }}</span></span><br />
	<span id="threshold">Threshold: <span id="threshold-value">{{ threshold }}</span></span>
      </div>
      <div class="stream">
	<h2>Here are some popular posts you may have missed:</h2>
	{% with posts=posts %}
	{% include "posts.html.jinja" %}
	{% endwith %}
	<h2>Here are some popular boosts you may have missed:</h2>
	{% with posts=boosts %}
	{% include "posts.html.jinja" %}
	{% endwith %}
      </div>
    </div>
  </body>
</html>
