{% for post in posts %}
<div class="post">
    <a class="home-link" href="{{ post.get_home_url(mastodon_base_url) }}" target="_blank">Home Link</a>
    <span class="link-divider"> | </span>
    <a class="original-link" href="{{ post.url }}" target="_blank">Original Link</a>
    <br />
    <div class="toot">
      <div class="avatar"><a target="_blank" href="{{ post.account['url'] }}"><img src="{{ post.account['avatar'] }}"></a></div>
      <div class="content">
	<div class="user"><a target="_blank" href="{{ post.account['url'] }}"><span class="displayname">{{ post.account['display_name'] }}</span><span class="username">@{{ post.account['username'] }}</span></a></div>
	<div class="status">{{ post.content }}{{ post.media }}</div>
      </div>
    </div>
</div>
{% endfor %}
